.git
!.git/HEAD
!.git/logs/HEAD
thatspacegame.dmb
thatspacegame.rsc
thatspacegame.dyn.rsc
thatspacegame.dyn.rsc.lk
thatspacegame.int
libmysql.dll
.dockerignore
Dockerfile
.editorconfig
.gitattributes
.gitignore
.github
sql